{% extends "wgmanager_base.html" %}
{% load i18n %}

{% block title %}Test{% endblock %}

{% block content %}

<p><a href="{% url 'dashboard' %}">Dashboard</a></p>

<h1>{{ object.community }}</h1>

<h2>{{ object }}: {{ object.get_sum }}</h2>

<p><a href="{{ bill.get_absolute_url }}edit/">{% trans "Edit this bill" %}</a></p>

<form action="{% url 'close_bill' community_id=object.community.id pk=object.id %}" method="post">
{% csrf_token %}
{% if object.is_closed %}
<input type="submit" name="submit" value="{% trans "Open this bill" %}"/>
{% else %}
<input type="submit" name="submit" value="{% trans "Close this bill" %}"/>
{% endif %}
</form>

<h2>{% trans "Payers" %}</h2>
<ul>
{% for payer in object.get_payers %}
<li>{{ payer }}</li>
{% endfor %}
</ul>

<h2>{% trans "Dues" %}</h2>
<ul>
{% for user, due in object.get_dues.items %}
<li>{{ due }} {{ user }}</li>
{% endfor %}
</ul>

<h2>{% trans "Shoppings" %}</h2>
<ul>
{% for shopping in object.get_shoppings %}
<li>
{% if shopping.user == user %}
{{ shopping }} <a href="{{ shopping.get_absolute_url }}">edit</a>
{% else %}
{{ shopping }}
{% endif %}
</li>
{% endfor %}
</ul>

{% endblock %}
