{% extends "wgmanager_base.html" %}
{% load i18n %}

{% block title %}{{ community.name }}{% endblock %}

{% block content %}

<p><a href="{% url 'dashboard' %}">Dashboard</a></p>

<h1>{{ community.name }}</h1>

<p><a href="{% url 'shopping_new' community.id %}">+</a></p>

<ul>
{% for community in communities %}
<li><a href="/community/{{community.id}}">{{ community.name }}</a></li>
{% endfor %}
</ul>

<h2>{% trans "Last shoppings" %}</h2>
<ul>
{% for shopping in last_shoppings %}
<li>
{% if shopping.user == user %}
{{ shopping }} <a href="{{ shopping.get_absolute_url }}">edit</a>
{% else %}
{{ shopping }}
{% endif %}
</li>
{% endfor %}
</ul>


<h2>{% trans "My last shoppings" %}</h2>
<ul>
{% for shopping in my_last_shoppings %}
<li>{{ shopping }}</li>
{% endfor %}
</ul>

<h2>{% trans "Last messages" %}</h2>
<ul>
{% for message in last_messages %}
<li>{{ message.user.first_name }}: {{ message.message }}</li>
{% endfor %}
</ul>


<h2>{% trans "Last shopping list entries" %}</h2>
<ul>
{% for entry in last_list_entries %}
<li>{{ entry.user.first_name }}: {{ entry.subject }}</li>
{% endfor %}
</ul>


<h2>{% trans "Last bills" %}</h2>
<ul>
{% for entry in last_bills %}
<li><a href="{{ entry.get_absolute_url }}">{{ entry }}</a></li>
{% endfor %}
</ul>




{% endblock %}
