{% extends "wgmanager_base.html" %}
{% load i18n %}
{% load extra_tags %}

{% block title %}{{ community.name }}{% endblock %}

{% block content %}
{% with n=5 %}

<p><a href="{% url 'dashboard' %}">Dashboard</a></p>

<h1>{{ object.name }}</h1>

<p><a href="{% url 'shopping_new' object.id %}">+</a></p>

<ul>
{% for community in object.get_communities %}
<li><a href="{{ community.get_absolute_url }}">{{ community.name }}</a></li>
{% endfor %}
</ul>

<h2>{% trans "Last shoppings" %}</h2>
<ul>
{% for shopping in object.get_shoppings|lastn:n%}
<li>
{% if shopping.user == user %}
{{ shopping }} <a href="{{ shopping.get_absolute_url }}">edit</a>
{% else %}
{{ shopping }}
{% endif %}
</li>
{% endfor %}
</ul>


<h2>{% trans "My last shoppings" %}</h2>
<ul>
{% for shopping in object.get_shoppings|lastn:n %}
<li>{{ shopping }}</li>
{% endfor %}
</ul>

<h2>{% trans "Last messages" %}</h2>
<ul>
{% for message in object.get_messages|lastn:n %}
<li>{{ message.user.first_name }}: {{ message.message }}</li>
{% endfor %}
</ul>


<h2>{% trans "Last shopping list entries" %}</h2>
<ul>
{% for entry in object.get_entries|lastn:n %}
<li>{{ entry.user.first_name }}: {{ entry.subject }}</li>
{% endfor %}
</ul>


<h2>{% trans "Last bills" %}</h2>
<ul>
{% for entry in object.get_bills|lastn:n %}
<li><a href="{{ entry.get_absolute_url }}">{{ entry }}</a></li>
{% endfor %}
</ul>



{% endwith %}
{% endblock %}
